@import "tailwindcss";

@layer color_scheme {
    :root {
        color-scheme: light dark;
        --text-color: var(--text-color-base, white);
        --bg-color: var(--bg-color-base, black);
        --highlight-color: var(--highlight-color-base, blue);
        --highlight-bg-color: var(--highlight-bg-color-base, gray);
        --contrast-color: var(--highlight-color);
        color: var(--text-color);
        background-color: var(--bg-color);
        scroll-behavior: smooth;
        --min-transparency: 0;
        --transition-time-factor: 1; /*To reduce motion*/
        --preferred-contrast: 1; /*1 default, 0.5 reduced, 2 more*/
    }
}


@layer system_color_mode {
    /*Light and no contrast*/
    :root {
        --bg-color-base: var(--color-white);
        --text-color-base: var(--color-black);
        --highlight-color-base: var(--color-blue-700);
        --highlight-bg-color-base: var(--color-zinc-200);
    }
    /*Dark and no contrast*/
    @media (prefers-color-scheme: dark) {
        :root {
            --text-color-base: var(--color-white);
            --bg-color-base: var(--color-zinc-800);
            --highlight-color-base: var(--color-sky-400);
            --highlight-bg-color-base: var(--color-zinc-700);
        }
    }
}
@layer user_color_mode {
    :root.light {
        color-scheme: light;
        --bg-color-base: var(--color-white);
        --text-color-base: var(--color-black);
        --highlight-color-base: var(--color-blue-700);
        --highlight-bg-color-base: var(--color-zinc-200);
    }
    :root.dark {
        color-scheme: dark;
        --text-color-base: var(--color-white);
        --bg-color-base: var(--color-zinc-800);
        --highlight-color-base: var(--color-sky-400);
        --highlight-bg-color-base: var(--color-zinc-700);
    }
}

@layer system_preferred_contrast {
    @media (prefers-contrast: more) {
        :root {
            /*--text-color: var(--text-color-base);*/
            --bg-color: hsl(from var(--bg-color-base) h s calc((l-127)*2 + 255)); /*Max out lightness to basically 0 or 255*/
            --highlight-color: hsl(from var(--highlight-color-base) h 255 l); /*Full saturation*/
            --highlight-bg-color: hsl(from var(--highlight-bg-color-base) h calc(s*1.5) l);
            --contrast-color: var(--color-rose-500);
            --preferred-contrast: 2;
            img {
                filter: contrast(115%);
            }
        }
    }
    @media (prefers-contrast: less) {
        :root {
            --text-color: hsl(from var(--text-color-base) h calc(s * 0.8) calc(l - 128 + 128));
            --bg-color: hsl(from var(--bg-color-base) h s l); /*Max out lightness to basically 0 or 255*/
            --highlight-color: hsl(from var(--highlight-color-base) h calc(s / 2) l); /*Full saturation*/
            --highlight-bg-color: hsl(from var(--highlight-bg-color-base) h calc(s / 2) l);
            --preferred-contrast: 0.5;
            img {
                filter: contrast(80%);
            }
        }
    }
}

@layer user_preferred_contrast {
    :root.default_contrast {
        --text-color: var(--text-color-base, white);
        --bg-color: var(--bg-color-base, black);
        --highlight-color: var(--highlight-color-base, blue);
        --highlight-bg-color: var(--highlight-bg-color-base, gray);
        --contrast-color: var(--highlight-color);
        --preferred-contrast: 1;
        img {
            filter: none; /*Remove contrast filter from images*/
        }
    }
    :root.more_contrast {
        /*--text-color: var(--text-color-base);*/
        --bg-color: hsl(from var(--bg-color-base) h s calc((l-127)*2 + 255)); /*Max out lightness to basically 0 or 255*/
        --highlight-color: hsl(from var(--highlight-color-base) h 255 l); /*Full saturation*/
        --highlight-bg-color: hsl(from var(--highlight-bg-color-base) h calc(s*1.5) l);
        --contrast-color: var(--color-rose-500);
        --preferred-contrast: 2;
        img {
            filter: contrast(115%);
        }
    }
    :root.less_contrast {
        --text-color: hsl(from var(--text-color-base) h calc(s * 0.8) calc(l - 128 + 128));
        --bg-color: hsl(from var(--bg-color-base) h s l); /*Max out lightness to basically 0 or 255*/
        --highlight-color: hsl(from var(--highlight-color-base) h calc(s / 2) l); /*Full saturation*/
        --highlight-bg-color: hsl(from var(--highlight-bg-color-base) h calc(s / 2) l);
        --preferred-contrast: 0.5;
        img {
            filter: contrast(80%);
        }
    }
}

@media (prefers-reduced-motion) {
    :root:not(.default_motion) {
        scroll-behavior: unset;
        --transition-time-factor: 0;
    }
}
:root.less_motion {
    scroll-behavior: unset;
    --transition-time-factor: 0;
}

@media (prefers-reduced-transparency) {
    :root:not(.default_transparency) {
        --min-transparency: 1;
    }
}
:root.less_transparency {
    --min-transparency: 1;
}

@theme {
    --color-highlight: var(--highlight-color);
    --color-highlight-bg: var(--highlight-bg-color);
}


a {
    font-style: italic;
}
a:hover, a:focus-visible {
    color: var(--contrast-color);
    outline: none;
}