@import "tailwindcss";

:root {
    color-scheme: light dark;
    --bg-color: var(--color-white);
    --text-color: var(--color-black);
    --highlight-color: var(--color-blue-700);
    --highlight-bg-color: var(--color-zinc-200);
    @media (prefers-contrast: more) {
        --bg-color: var(--color-white);
        --text-color: var(--color-black);
        --highlight-color: var(--color-blue-600);
        --highlight-bg-color: var(--color-zinc-300);
    }
    @media (prefers-contrast: less) {
        --bg-color: var(--color-zinc-100);
        --text-color: var(--color-zinc-700);
        --highlight-color: var(--color-blue-800);
        --highlight-bg-color: var(--color-zinc-300);
    }
    @media (prefers-color-scheme: dark) {
        --text-color: var(--color-white);
        --bg-color: var(--color-zinc-800);
        --highlight-color: var(--color-blue-400);
        --highlight-bg-color: var(--color-zinc-700);
        @media (prefers-contrast: more) {
            --text-color: var(--color-white);
            --bg-color: var(--color-zinc-950);
            --highlight-color: var(--color-blue-500);
            --highlight-bg-color: var(--color-zinc-600);
        }
        @media (prefers-contrast: less) {
            --bg-color: var(--color-zinc-800);
            --text-color: var(--color-zinc-300);
            --highlight-color: var(--color-blue-300);
            --highlight-bg-color: var(--color-zinc-600);
        }
    }
    color: var(--text-color);
    background-color: var(--bg-color);
}

@theme {
    --color-highlight: var(--highlight-color);
    --color-highlight-bg: var(--highlight-bg-color);
}
@media (prefers-contrast: less) {
    img {
        filter: contrast(75%);
    }
}
@media (prefers-contrast: more) {
    img {
        filter: contrast(120%);
    }
}