---
import Welcome from '../components/Welcome.astro';
import Map from "../components/Map.astro";
import Layout from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const rooms = await getCollection("rooms")
console.log(rooms);
const base = import.meta.env.BASE_URL
---

<Layout>
	<h1>FSG Roomtour</h1>
	<Map/>
	<h2>Räume:</h2>
	<ol>
		{rooms.map(r=><li>
			<a href={`${base}/${r.id}/nord`}>{r.id}</a>
		</li>)}
	</ol>
</Layout>
