---
import Map from "../components/Map.astro";
import Layout from '../layouts/Layout.astro';
import { getCollection, getEntry } from 'astro:content';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const rooms = await getCollection("rooms")
console.log(rooms);
const base = import.meta.env.BASE_URL
---

<Layout>
	<header>
		<h1>FSG Roomtour</h1>
		<a href="#list">Zur Liste der Räume</a>
	</header>
	<section>
		<h2>Karte</h2>
		<Map/>
	</section>
	<section>
		<h2>Raumliste:</h2>
		<table id="list">
			<tr><th>Raum Nummer</th><th>Raum Name</th></tr>
			{rooms.sort().map(r=><tr>
				<td><a href={`${base}/${r.id}/nord`}>{r.id}</a></td><td>{r.data.name}</td>
			</tr>)}
		</table>
	</section>
</Layout>

<style>
	a[href="#list"] {
		opacity: 0;
		height: 0;
		width: 0;
		display: block;
	}
	a[href="#list"]:focus-visible {
		opacity: 1;
		height: auto;
		width: max-content;
	}
	a {
		font-style: italic;
	}
	a:hover, a:focus-visible {
		color: var(--highlight-color);
		outline: none;
	}
	td, th {
		text-align: start;
		padding-inline: 1em;
	}
</style>