---
---

<div class="zoomable-astro w-[90vw]">
    <div class="zoomable-astro-indicator-group">
        <button type="button" class="zoomable-astro-dec" aria-label="heraus zoomen" role="button">-</button>
        <button type="button" class="zoomable-astro-inc" aria-label="hinein zoomen" role="button">+</button>
    </div>
    <div class="zoomable-astro-inner">
        <div class="m-auto">
            <slot/>
        </div>
    </div>
</div>

<style>
    .zoomable-astro {
        height: auto;
        width: calc(38vw + 22rem);
        @media (orientation: portrait) {
            width: calc(50vw + 10rem);
        }
        max-height: 90svh;
        aspect-ratio: 3/2;
        container: zoom / size;
        overflow: auto;
        scrollbar-gutter: stable both-edges;
        @media (pointer: coarse) {
            .zoomable-astro-inner{
                max-width: 100% !important;
                max-height: 100% !important;
            }
            &>.zoomable-astro-indicator-group {
                display: none;
            }
            height: auto;
            aspect-ratio: 3/2;
        }
        &>.zoomable-astro-inner>div {
            border: calc(var(--preferred-contrast) * 1px) solid var(--highlight-color);
            transition: width calc(100ms * var(--transition-time-factor)) ease-in;
        }
        &>button {
            cursor: pointer;
            padding-inline: 1ch;
        }
    }
</style>
